@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    min-width: 290px;
    line-height: 3.5rem;
    padding-left: 30px;
}

#maintitle{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

#photo{
    width: 150px;
}
#information{
padding: 15px;
}
#Ts{
    font-family: 'Montserrat', sans-serif;
}
#skills{
    line-height: 2rem;
}
#We{
    font-family: 'Montserrat', sans-serif;
}
#work{
    text-align: left;
}
.adjust{
    padding-left: 70px;
}
#Wi{
    font-family: 'Montserrat', sans-serif;
}
#inspo{
    line-height: 2rem;
}
a{
    font-size: 20px;
}
a:hover{
    font-size: 22px;
    color:aquamarine;
}
input, label {
    display:block;
}
form{
    line-height: 2rem;
}
input{
    height: 30px;
    width: 250px;
    border-width: 2px;
    border-color: black;
}
button{
    width: 150px;
    height: 40px;
    font-size: 1.5rem;
    background-color: rgb(159, 199, 90);
    color: aliceblue;
}
